@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;500;700;900&display=swap");

* {
  overflow: hidden;
}

#bg {
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  background-color: #323133;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #9c9cce;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0px,
    rgba(0, 0, 0, 1) 22px,
    #9c9cce 23px
  );
  &:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: repeating-linear-gradient(
      0deg,
      #111 0px,
      #111 1px,
      transparent 2px,
      transparent 5px
    );
    background-size: 100% 5px;
    animation: lines 2s ease-out infinite;
    opacity: 0.1;

    pointer-events: none;
  }
  .text,
  .text > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .text {
    > * {
      font-size: 80px;
      animation: giggle 1s ease infinite;
      mix-blend-mode: difference;
    }
    .r {
      color: #f00;
      left: -0.5px;
    }
    .g {
      color: #0f0;
      animation-delay: -0.67s;
    }
    .b {
      color: #00f;
      animation-delay: -0.33s;
      left: 0.5px;
    }
  }
}

@keyframes giggle {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(-2px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(2px);
  }
}
@keyframes lines {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 25px;
  }
}

#transition {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  width: 100vw;
  height: 0;
  animation: close 1.2s forwards ease-out;
}

#innerTransition {
  background-color: rgb(255, 247, 219);
  width: 100vw;
  height: 0;
  animation: close 0.5s forwards ease-in-out;
}

@keyframes close {
  0% {
    height: 100vh;
  }
  99% {
    height: 0;
  }
  100% {
    display: none;
  }
}

#navBar {
  opacity: 0.9;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 5px;
  top: 0;
  height: 22px;
  width: calc(100vw - 10px);
  font-weight: bold;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(27, 27, 27, 1) 2%,
    rgba(221, 221, 221, 1) 10%
  );
  background-color: #dddddd;
  color: rgb(39, 39, 39);
  font-size: 0.8em;
  overflow: hidden;
  z-index: 4;
  border-radius: 15px 15px 0 0;
}

#contact {
  user-select: none;
  cursor: pointer;
  color: black;
  font-size: 1.1em;
  margin: 7px;
}

#time {
  position: absolute;
  right: 15px;
  top: 0;
  user-select: none;
  cursor: pointer;
  color: black;
  font-size: 1.1em;
  margin: 7px;
}

#svg {
  margin: 0 5px 0 10px;
  opacity: 1;
}

#reflection {
  user-select: none;
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: -20vh;
  left: 0;
  height: 25vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1);
  animation: reflection 10s ease-in-out infinite;
}

@keyframes reflection {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(120vh);
  }
}
